bottle==0.13.3
bottle-websocket==0.2.9
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
Deprecated==1.2.18
Eel==0.18.1
future==1.0.0
gevent==25.5.1
gevent-websocket==0.10.1
greenlet==3.2.3
idna==3.10
mss==10.0.0
nodriver==0.46.1
numpy==2.2.6
pycparser==2.22
pyparsing==3.2.3
requests==2.32.3
sounddevice==0.5.2
soundfile==0.13.1
typing_extensions==4.14.0
urllib3==2.4.0
websockets==15.0.1
wrapt==1.17.2
zope.event==5.0
zope.interface==7.2
